.answerContainer {
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 10px;
  column-gap: 20px;
  margin: 0px 20px;
}

.questionContainer {
  text-align: center;
}

/* #nthQuestion,#testResult,#score {
  text-align: center;
} */

#all {
  display: grid;
  grid-template-rows: 100px auto auto auto 30px 50px 50px 20px;
  text-align: center;
}

#Q,
#nthQuestion,
#score {
  padding: 10px;
}

button {
  height: 70px;
}

#reset {
  width: 70px;
}
#reset:hover {
  color: rgb(175, 0, 0);
}

